APP_NAME=
APP_HOST=
APP_PORT=
APP_RELOAD=
ALLOWED_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000", "http://example.com"]
DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=
DB_PORT=
REDIS_HOST=
REDIS_PORT=
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=